<!DOCTYPE html>
<html xlmns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login Storeguide</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styleMain.css">
</head>
<body>
	<div class="container">
		<div class="content">
			<div id="cadastro">
				<form method="post" action="salvarAdmin">
				<input type="hidden" name="id" th:value="${administrador?.id}"/>
					<h1>Cadastro</h1>

					<p>
						<label for="nome_cad">Nome</label> 
						<input id="nome_cad" name="nome" th:value="${administrador?.nome}" required="required" type="text" />
					</p>

					<p>
						<label for="email_cad">E-mail</label> 
						<input id="email_cad" name="email" th:value="${administrador?.email}" required="required" type="email" />
					</p>

					<p>
						<label for="senha_cad">Senha</label> 
						<input id="senha_cad" name="senha" required="required" type="password" />
					</p>

					<p>
						<input type="submit" value="Cadastrar" />
					</p>

					<p class="link">
						Já tem conta? <a href="#"> Ir para Login </a>
					</p>

				</form>
			</div>
			<div th:replace="fragments/mensagem"></div>
		</div>
	</div>
</body>
</html>