<!DOCTYPE html>
<html xlmns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<title>Login Storeguide</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styleMain.css">
</head>
<body>
	<header th:replace="fragments/padrao :: cabecalho"></header>
	<div class="container">
		<div class="content">
			<div id="cadastro">
				<form method="post" action="login">
					
					<h1>Login</h1>

					<p>
						<label>Login</label> <input id="login_cad" name="email"
							required="required" type="text" />
					</p>

					<p>
						<label>Senha</label> <input id="senha_cad" name="senha"
							type="password" />
					</p>

					<p>
						<label> <input name="entrega" type="checkbox" 
							class="filled-in" /> <span>Manter conectado</span>
						</label>
					</p>

					<p>
						<input type="submit" value="Entrar"/>
					</p>

					<p class="link">
						Ainda não tem conta? <a href="/cadastroAdmin">Cadastre-se</a>
					</p>
				</form>
			</div>
			<div th:replace="fragments/mensagem"></div>
		</div>
	</div>
	<footer th:replace="fragments/padrao :: rodape"></footer>
</body>
</html>